---
// src/pages/enlace/[slug].astro
export const prerender = false; // 🚀 evita el error de getStaticPaths
import AgendaVirtual from "../../components/agendaVirtual/agendaVirtual";
---

<html lang="es">
  <head>
    <title>Agenda</title>
  </head>
  <body class="bg-black text-white">
    <main class="w-full flex justify-center">
      <AgendaVirtual client:only="react" />
    </main>
  </body>
</html>
