---
// Ruta de preview: /dev/email-cancelacion
import EmailCancelPreview from "../components/pruebas";
---

<html lang="es" class="h-full">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Preview • Email Cancelación</title>
  </head>
  <body class="h-full">
    <EmailCancelPreview client:load />
  </body>
</html>
