---
import "../styles/global.css";
import NavBar from "../components/AgendateOnline/Navbar.tsx";
import HeroInicio from "../components/AgendateOnline/HeroInicio.tsx";

const { title = "AgéndateOnline" } = Astro.props;
---
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" /> <!-- 👈 FALTA -->
    <title>{title}</title>
  </head>
  <body class="bg-neutral-50 text-neutral-900">
    <NavBar client:load />
<HeroInicio client:load />
<slot />
    
  </body>
</html>
