---
import "../../styles/global.css";
import PanelEstadisticass from "../../components/panel/panel-estadisticas";
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Panel de Estadísticas</title>
  </head>
  <body class="bg-gray-100 min-h-screen">
    <main class="w-full flex justify-center">
      <PanelEstadisticass client:only="react" />
    </main>
  </body>
</html>
