---
import "../../styles/global.css";
import DashboardAgenda from "../../components/ControlPanel/AgendaDelNegocio.tsx"
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Mi Agenda</title>
  </head>
  <body class="bg-gray-100 min-h-screen">
    <main class="w-full flex justify-center">
      <DashboardAgenda client:load />
    </main>
  </body>
</html>
