---
// src/pages/panel.astro
import "../../styles/global.css";
import Dashboard from "../../components/ControlPanel/PanelDeControlPrincipal";
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Panel Premium</title>
  </head>
  <body class="bg-gray-100 min-h-screen">
    <main class="w-full flex justify-center">
  <Dashboard client:load />
</main>



  </body>
</html>
