---
import "../../styles/global.css";
import Precios from "../../components/panel/panel-precios"
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Panel - Precios</title>
  </head>
  <body class="bg-gray-100 min-h-screen">
    <main class="container mx-auto px-4 py-8">
      <Precios client:load />
    </main>
  </body>
</html>