---
import "../styles/global.css";

interface Props {
  title?: string;
}

const { title = "AgéndateOnline" } = Astro.props as Props;
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title} | AgendateOnline</title>
  </head>
  <body class="bg-white text-black">
    <script is:inline>
      if ("scrollRestoration" in history) {
        history.scrollRestoration = "manual";
      }
      window.scrollTo(0, 0);
    </script>
    <main>
      <slot /> <!-- aquí va todo lo que definís en [slug].astro -->
    </main>
  </body>
</html>
