---
import Navbar from "../components/AgendateOnline/Navbar.tsx";

const { title = "AgéndateOnline" } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
  </head>
  <body class="bg-neutral-50 text-neutral-900">
    <Navbar client:load />
    <main>
      <slot />
    </main>
  </body>
</html>
