---
import "../styles/global.css";
import NavBar from "../components/Navbar.tsx";
const { title = "Agéndate" } = Astro.props;
---
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <title>{title}</title>
  </head>
  <body class="bg-neutral-50 text-neutral-900">
    <NavBar client:load />
    <slot />
  </body>
</html>
